<html>
<head>
    <style>
        /* Stiluri CSS pentru a centra textul și formularul */
        body {
            text-align: center;
        }

        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -320px; /* Ajustează distanța de sus a formularului */
        }

        .center-text {
            color: #4682B4;
        }
    </style>
    <title>Find your friend</title>
</head>
<body>
<h1>Hello, Welcome to</h1>
<div class="center-text">
    <h1>FIND YOUR FRIEND!</h1>
</div>
<img src="https://i.imgur.com/5rosgZS.jpg" width="400">
<img src="https://i.imgur.com/eIknv2S.jpg" width="400">
<img src="https://i.imgur.com/R9xgjdI.jpg" width="400">
<img src="https://i.imgur.com/VAURCfN.jpg" width="400">
<img src="https://i.imgur.com/j9d2HiB.jpg" width="200">
<img src="https://i.imgur.com/u58TssN.jpg" width="400">
<img src="https://i.imgur.com/igUVmr0.jpg" width="400">

</body>
</html>
